@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @User.FindFirst(ClaimTypes.Name).Value</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button class="btn btn-default btn-lg start-bg">
    Start Background Task
</button>

@section scripts {

<script>
    $(function () {
        $('.start-bg').on('click', function (e) {
            $.ajax({
                url: '/home/testbg',
                type: 'get',
                cache: false,
            });
        });
    });
</script>

} 