.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #578A32;
  display: flex; }
  .menu .menu-title {
    padding: 8px;
    width: 15%; }
    .menu .menu-title h1 {
      font-size: 22px;
      color: white; }
  .menu .menu-title + .menu-content {
    width: 85%; }
  .menu .menu-content {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .menu .menu-content .menu-group {
      padding: 8px;
      display: flex;
      align-items: center; }
      .menu .menu-content .menu-group .menu-button {
        padding: 8px;
        font-size: 18px;
        color: white; }
    .menu .menu-content .menu-group-right {
      text-align: right; }

.content {
  margin-top: 60px; }

.task-alert {
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: white;
  border: 1px solid #dedede;
  padding: 10px;
  box-shadow: 0 0 3px #999; }
  .task-alert .title {
    font-weight: bold; }
